@import url('https://fonts.googleapis.com/css2?family=Jersey+10:wght@100;300;400;500;700;900&display=swap');

:root {
    --d: 700ms;
    --e: cubic-bezier(0.19, 1, 0.22, 1);
    --font-sans: 'Jersey 10', sans-serif;
    --font-serif: 'Jersey 10', serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: white;
    color: black;
    font-family: 'Jersey 10', sans-serif;
    text-align: center;
    font-size: 30px;
}

body::-webkit-scrollbar {
    width: 0;
    background-color: transparent !important;
}

header {
    position: sticky !important;
    top: 0;
    background-color: white;
    text-wrap: nowrap;
    opacity: 70%;
    font-family: 'Jersey 10', sans-serif;
    font-weight: 300;
    font-style: normal;
}

.container {
    text-align: center;
    margin: 0 auto;
    max-width: 600px;
    padding: 20px;
}

.topnav {
    overflow: hidden;
    background-color: #333;
    text-align: center;
}

.topnav a {
    float: none; /* Ensures links are centered */
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav .logo {
    font-size: 25px;
    font-weight: bold;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}
