@import url('https://fonts.googleapis.com/css2?family=Jersey+10:wght@400;700&display=swap');

:root {
    --d: 700ms;
    --e: cubic-bezier(0.19, 1, 0.22, 1);
    --font-sans: 'Jersey 10', sans-serif;
    --font-serif: 'Jersey 10', serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: white; /* Change background to white */
    color: black; /* Change text color to black */
    font-family: var(--font-sans);
    overflow: scroll;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 0;
    background-color: transparent !important;
}

header {
    position: sticky !important;
    top: 0;
    background-color: white; /* Change background to white */
    text-wrap: nowrap;
    opacity: 70%;
    font-family: var(--font-sans);
    font-weight: 300;
    font-style: normal;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: black;
    text-align: center; /* Center all text */
}

h1 {
    text-align: center;
    color: black;
    font-family: var(--font-sans);
}

#quiz-container {
    margin-top: 20px;
    text-align: center; /* Center all text */
}

.question {
    margin-bottom: 20px;
    text-align: center; /* Center all text */
}

.options {
    list-style: none;
    padding: 0;
    text-align: center; /* Center all text */
}

.options li {
    margin-bottom: 10px;
    text-align: center; /* Center all text */
}

#submit-btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: black; /* Change background color */
    color: white; /* Change text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#submit-btn:hover {
    background-color: #f5f5f7;
    color: #121214;
}

#result {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    color: black; /* Change text color */
}
